//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;	
	z-index: 3;
	// .header__container
	&__container {
		display: flex;
		justify-content: space-between;
		width: 1560px;
		max-width: 100%;
		min-height: 98px;
		align-items: center;
		padding-top: rem(32);
		padding-bottom: rem(32);
		transition: 0.5s;
				@media (max-width:$mobileSmall){
			padding: rem(24) rem(32);
		}
	}
	// .header__logo
	&__logo {
		max-width: rem(234);
		img{
			width: 100%;
		}
		@media (max-width:$mobile){
			max-width: rem(194);
		}
		@media (max-width:$mobileSmall){
			max-width: rem(140);
		}
	}

	// .header__menu
	&__menu {
		align-items: center;
		justify-content: center;
		display: inline-flex;

	}
	// .header__actions
	&__actions {}
}
.menu {
	// .menu__icon
	&__icon {}
	// .menu__body
	&__body {
		@media (max-width:$tablet){
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			padding: rem(100) rem(15) rem(30) rem(15);
			overflow: auto;
			transition: 0.3s;
			background-color: $mainColor;
		}
		.menu-open & {
			left:0;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		row-gap: rem(3);
		column-gap: rem(32);
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media (max-width:$tablet){
			flex-direction: column;
			row-gap: rem(20);

		}
	}
	// .menu__item
	&__item {}
	// .menu__link
	&__link {
		font-size: rem(20);
		line-height: 1.2;
		color: #FFFFFF;
		position: relative;
		transition: 0.3s;
		@media (any-hover: hover){
			&:hover{
				&::after{
					position: absolute;
					content:'';
					display: block;
					height: rem(3);
					width: 100%;
					background-color: #FF7757;
					margin-top: rem(4);
				}
			}
		}
		@media (max-width:$tablet){
			font-size: rem(25);
		}
	}
}
.action-header {
	display: flex;
	gap: rem(36);
	font-size: rem(20);
	line-height: 1.2;
	color: #FFFFFF;
	align-items:center;	
	@media (max-width:$mobile){
		 display: flex; 
	}
	// .action-header__login
	&__login {
		display: flex;
		align-items: center;
		gap: rem(36);
		font-size: rem(20);
		line-height: 1.2;
		color: #FFFFFF;
		transition: 0.3s;
		@media (any-hover: hover){
			&:hover{
				color:#FF7757;
			}
		}
		@media (max-width:$mobile){
			font-size: rem(25);
			margin-bottom: rem(20);
			justify-content: center;
		}
	}
	// .action-header__button
	&__button {
		@media (max-width:$mobile){
			margin: rem(20) auto 0;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(38);
		height: rem(23);
		flex: 0 0 rem(38);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

