.offer {
  @include adaptiveValue("padding-top", 100, 25);
  @include adaptiveValue("padding-bottom", 100, 25);
  // .offer__container
  &__container {}
  // .offer__slider
  &__slider {}
  // .offer__body
  &__box {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: rem(50);
    @include adaptiveValue("padding-bottom", 100, 50);
  }
  // .offer__block-title
  &__block-title {
    text-align: right;

  }
  // .offer__title
  &__title {
    &::after{
      left: 40%;
    }
  }
  // .offer__subtitle
  &__subtitle {}
  // .offer__buttons
  &__buttons {
    display: flex;
    align-items:flex-end;
    gap: rem(40);
    @media (max-width:$tablet){
      justify-content: center;
      margin-top: rem(50);
    }
  }
  // .offer__button
  &__button {}
  // .offer__wrapper
  &__wrapper {}
  // .offer__slide
  &__slide {
    border-radius: 26px 26px 0px 0px;
    overflow: hidden;
  }
  // .offer__item
  &__item {}
}
.item-offer {
  // .item-offer__image
  &__image{
    height: rem(286);
    object-fit: cover;
    width: 100%;
  }
  // .item-offer__content
  &__content {
    padding: rem(40) rem(20);
    @media (max-width: em(1140)){
      padding: rem(24) rem(20);  
    }
    @media (max-width:$tablet){
      padding: rem(20) rem(20);
    }
  }  
  // .item-offer__title  
  &__title {
    font-family: 'Muli';
    font-size: rem(28);
    line-height: 1.25;
    margin-bottom: rem(8);
  }
  // .item-offer__rating
  &__rating {
    margin-bottom: rem(24);
  }
  // .item-offer__star
  &__star {}
  // .item-offer__text
  &__text{
    line-height: 1.33;
    color: #172432;
    margin-bottom: rem(24);
  }
  // .item-offer__actions
  &__actions {
    display: flex;
    column-gap: rem(45);
    row-gap: rem(20);
    align-items:center;
    justify-content: space-between;

    @media (max-width: em(400)){
      flex-direction: column;
      align-items:flex-start  
    }

    
  }
  // .item-offer__value
  &__value {
    display: flex;
    align-items:center;
    gap: rem(8);
  }
  // .item-offer__price
  &__price {
    font-size: rem(40);
    line-height: 1.2;  
    color: #FF7757;
    @media (max-width: em(1440)){
      font-size: rem(28);  
    }
  }
  // .item-offer__span
  &__span {
    font-size: rem(20);
    line-height: 1.2;
    @media (max-width: em(1440)){
      font-size: rem(18);
    }
  }
  // .item-offer__button
  &__button {
    font-size: rem(20);
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: rem(20) rem(40);
    @media (max-width: em(1440)){
      padding: rem(16) rem(24);  
    }
    @media (max-width: em(400)) {
      width: 100%;
    }
  }
}
